@charset 'UTF-8';

/* ==========================================================================
   Author's custom styles

   References:
    http://sass-lang.com/guide
   ========================================================================== */

// 1. Configuration and helpers

@import
  'abstracts/variables',
  'abstracts/mixins';

// 2. Vendors

@import
  '../vendor/bootstrap-sass/assets/_bootstrap';

// 3. Base stuff

// 4. Layout-related sections

// 5. Components

// 6. Page-specific styles

// 7. Themes
